<h1>Edição de Empresa</h1>

<%= render 'form' %>
<%= link_to "Criar Embarcação", :controller => "ships", :action => "new", :company_id => @company.id %>
<%= link_to 'Ver empresa', @company %> |
<%= link_to 'Lista de empresas', companies_path %>
